version: '3.8'

services:
  users-service:
    build:
      context: ./users-service
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    volumes:
      - ./users-service:/var/www/html

  notifications-service:
    build:
      context: ./notifications-service
      dockerfile: Dockerfile
    ports:
      - "9001:9000"
    volumes:
      - ./notifications-service:/var/www/html
  
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
